body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 70px;
    background-color: Aquamarine;
}

h1 {
    margin-bottom: 70px;
    font-style: italic;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s, box-shadow 0.5s;
    background-color: ForestGreen;
}

.card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: Gold;
}
